<footer class="site-footer">
  <div class="site-footer gradient-bar-footer">
  <div class="wrapper">
    <div class="footer-content">
      <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}"> via RSS </a></p>
    </div>
    <div class="footer-social">
      <ul>
        <li>
          <a href="http://www.twitter.com/{{ site.twitter_username }}">
            <img src="{{ site.baseurl }}/images/twitter-logo-silhouette.png" alt="twitter logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://www.github.com/{{ site.github_username }}">
            <img src="{{ site.baseurl }}/images/github-logo-black-shape.png" alt="github logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/users/2007325/praveen">
            <img src="{{ site.baseurl }}/images/so-icon.png" alt="google logo" width="40">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
