* {
    box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-align: center;
    color: $grey-color-dark;
    letter-spacing: -0.5px;
    margin-bottom: $spacing-unit / 1.5;
}

.mega {
    font-size: $mega-font-size;
    font-weight: 700;
    letter-spacing: -1px;
}
h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease;
    border-bottom: 1px solid transparent;

    &:visited {
        color: $brand-dark;
    }

    &:hover {
        color: $brand-dark;
        border-bottom-color: $brand-color;
    }

    &:active {
        color: #1e3d6b; // Darker than $brand-dark
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $text-light;
    border-left: 4px solid $brand-light;
    padding-left: $spacing-unit;
    font-size: 17px;
    letter-spacing: -0.5px;
    font-style: italic;
    margin: $spacing-unit 0;
    background-color: $background-alt;
    padding: $spacing-unit / 2 $spacing-unit;
    border-radius: 4px;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-family: $code-font-family;
    font-size: 14px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: $background-alt;
}

code {
    padding: 2px 6px;
    color: $error-color;
}

pre {
    padding: $spacing-unit * 0.75;
    overflow-x: auto;
    background-color: $grey-color-dark;
    color: #e2e8f0;
    border-radius: 6px;
    line-height: 1.4;

    > code {
        border: 0;
        padding: 0;
        color: inherit;
        background-color: transparent;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    @include media-query($on-palm) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
